* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #92E3A9;
  margin: 30px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
#side2 h1{
  margin-bottom: 10px;
  color: #92E3A9;
}
#signin-with{
  font-size: small;
}
#signin-with a {
  text-decoration: none;
  color: #007bff; /* optional: customize the link color */
}


.outer-wrapper {
  width: 100%;
  height: calc(100vh - 60px); /* to account for margin */
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-div {
  display: flex;
  width: 70%;
  height: 70%;
  border-radius: 40px;
  overflow: hidden;
  background-color: white;
}

#side1 {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side1 img {
  width: 100%;
  height: auto;
}

#side2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 1px solid #92E3A9;
  border-radius: 10px;
}
.username-filed,.password-field, .re-password-field {
  position: relative;
  width: 90%;
  margin: 10px auto;
}

.username-filed i,.password-field i, .re-password-field i {
  position: absolute;
  top: 50%;
  left: 15px; /* Controls horizontal position */
  transform: translateY(-50%);
  color: #000;
  pointer-events: none; /* Let clicks go to input */
}

.username-filed input, .password-field input,.re-password-field input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* left padding to make space for icon */
  border: 1px solid #aaa;
  border-radius: 10px;
}


#login-btn{
  background-color: #92E3A9;
  border-radius: 7px;
  padding: 8px 100px;
  margin: 10px;
}
